@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <p id="Pname" class="form-control"></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="control-label">Product Price</label>
                    <p id="Price" class="form-control"></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class="control-label">Stock</label>
                    <p id="Stock" class="form-control"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function getQueryStringParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    $(document).ready(function () {
        $.ajax({
            url: '/Product/GetProductDetails/?id=' + getQueryStringParameter('id'), // Adjust the URL to your endpoint
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#Pname").text(data.pname);
                $("#Price").text(data.price);
                $("#Stock").text(data.stock);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching product data:', error);
            }
        });
    });
</script>
